* {
  box-sizing: border-box;
}

.page {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  flex-wrap: wrap;
  font-family: 'Open Sans';
}

.page::selection {
  background-color: #ff2d2d;
  color: #fff;
  padding: 5px;
}

.container {
  width: 1250px;
  margin: 0 auto;
}

.title { 
  width: 542px;
  font-size: 42px;
  line-height: 130%;
  letter-spacing: 0.4px;
  font-weight: 700;
  text-transform: uppercase;
}

.description {
  width: 542px;
  line-height: 175%;
  margin-bottom: 64px;
}

.hr-line {
  width: 144px;
  height: 2px;
  background-color: #ff2d2d;
  border: none;
  margin-bottom: 86px;
}

.input {
  color: #2c2c2c;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: .4px;
  border-radius: 6px;
  border: none;
  padding: 28px 38px;
  margin-right: 20px;
}

.button {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: .32px;
  border-radius: 6px;
  border: none;
  padding: 28px auto;
  cursor: pointer;
}