.feedback {
  width: 100%;
  max-width: 1250px;
  padding: 0 0 164px 0;
  margin: 0 auto 106px auto;
}

.feedback__title {
  margin-bottom: 46px;
}

.feedback__description {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 752px;
}

.feedback__info {
  display: flex;
}

.feedback__input {
  width: 340px;
  height: 70px;
  background-color: #00000010;
  color: #000;
  margin-bottom: 44px;
  padding: 26px 50px;
  gap: 50px;
}

.feedback__textarea {
  width: 100%;
  max-width: 730px;
  height: 252px;
  background-color: #00000010;
  color: #000;
  margin-bottom: 44px;
}

.feedback__button {
  width: 100%;
  max-width: 730px;
  height: 76px;
  background-color: #ff3b3b;
  color: #fff;
  text-transform: uppercase;
}

.feedback__contacts {
  width: 100%;
  max-width: 950px;
  height: 488px;
  background-color: #2d2d2d;
  color: #fff;
  margin-bottom: 30px;
  padding: 142px 84px;
}

.feedback__heading {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .32;
  margin-bottom: 30px;
}

.feedback__paragraph {
  line-height: 175%;
  margin-bottom: 30px;
}

@media screen and (max-width: 1250px) {
  .feedback {
    margin-bottom: 30px;
  }
  .feedback__info {
    flex-direction: column;
  }
  .feedback__input {
    gap: 16px;
  }
  .feedback__contacts {
    width: 732px;
    padding: 50px auto;
  }
}

@media screen and (max-width: 732px) {
  .feedback__contacts {
    width: 100%;
    margin: 10px;
  }
}